<html>
	<body>
		<p>Hello <%= @user.name %>, </p>
		

		<p>Your tech equipment loan request was approved.</p>

		<p>Requested equipment:
			<ul>
				<% @loan.returns.each do |r| %>
					<li><%= r.asset.tag %> - <%= r.asset.rtype.name %></li>
				<% end %>
			</ul></p>

		<p><b>Use:</b> <%= @loan.use %><p>

			<p>From <%= @loan.start_date.to_s %> to <%= @loan.end_date.to_s %></p>

			<p>Please print this email, sign & date on the line below, and turn in to the IT staff.</p>

			<p>___________________________________________________________</p>

	</body>
</html>
