<html>
<body>
 <p>Hello <%= @user.name %>, </p>

 <p style="font-size:large">This is an automated response.  Please do not reply back to this e-mail.  All communication regarding this ticket should take place inside Firefight.  Thank you.</p>

 <p>Your support ticket, #<%= @ticket.id %>, for <%= @ticket.room.building.name %>, room <%= @ticket.room.name %>, asset <%= @ticket.asset.tag %> has been updated.  <a href="http://firefight/tickets/<%= @ticket.id %>">Please click here to respond to ticket #<%= @ticket.id %>.</a></p>

<% c = (@ticket.comments.last.content.match(/ has changed this ticket to /) ? @ticket.comments[-2] : @ticket.comments.last) %>
<p>Recent comment from <%= c.user.name %>:<br/><%= c.content %></p>

<pre>
  Building:	<%= @ticket.room.building.name %>
  Room:		<%= @ticket.room.name %>
  Asset:	<%= @ticket.asset.tag %>
  Submitted By:	<%= @ticket.submitter.name %>
  Status: 	<%= @ticket.statusify %>
<% if @ticket.due %>
  Due: <%= @ticket.due.strftime("%m/%d/%y %I:%M") %>
<% end %> 
 
<% @ticket.comments.reverse.each do |comment| %>
<%= comment.user.name %> - <%= comment.created_at %>
<%= comment.content%>
<hr/>
<%end%>

</body>
</html>
