<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= @user.username ? @user.username : f.text_field(:username, :class => 'text_field') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :building_id, :class => 'control-label' %>
    <div class="controls">
	    <%= f.select :building_id, Building.all.map{|b| [b.name, b.id]},  :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <% if current_user && current_user.admin? %>
  <div class="control-group">
    <%= f.label :administrator, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :administrator, :class => 'check_box' %>
    </div>
  </div>
  <% end %>
 <div class="control-group">
    <%= f.label :assignments, :class => 'control-label' %>
    <div class="controls">
	    <% Building.all.each do |b| %>
		    <%= check_box_tag :building_ids, b.id, @user.buildings.include?(b), :name => 'user[building_ids][]', :class => 'check_box' %><%= label_tag b.id, b.name %>
	    <% end %>
    </div>
  </div> 
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
