<h1><%= @department.name %></h1>

<table class="table datatableable">
	<thead>
		<tr>
			<td>Room Name</td>
			<td>Notes</td>
			<td>Open Tickets</td>
		</tr>
	</thead>
	<tbody>
		<% @department.rooms.sort_by{|r| r.name}.each do |room| %>
			<tr>
				<td><%= link_to room.name, room %></td>
				<td><%= room.notes ? room.notes : "" %></td>
				<td><%= room.tickets.incomplete.count %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% content_for :sidebar do %>
	      <li><%= link_to t('.edit', :default => t("helpers.links.edit")), edit_department_path(@department) if current_user.admin? %></li>
	  <li><%= link_to "Delete", department_path(@department), :method => 'delete', :confirm => "Are you sure?" if @department.rooms.count == 0 && current_user.admin? %></li>
  <% end %>

