<% @principals = Principal.all %>
<% @all_users = User.all.map{|u| u.name} %>
<% @all_groups = Group.all.map{|u| u.name} %>
<%= form_for @permission = Permission.new, :html => {:class => 'form-horizontal'} do |f| %>
	<%= f.hidden_field :securable_type, :value => 'Ticketqueue' %>
	<% if @ticketqueue %>
		<%= f.hidden_field :securable_id, :value => @ticketqueue.id %>
	<% else %>
		<%= f.select :securable_id, options_for_select(Ticketqueue.all.map{|s| [s.name, s.id]}) %>
	<% end %>
	<table class="table">
		<tr>
			<td>
				<p>Priority:<%= f.text_field :priority, :size => 3 %><br/>
				Numbers come before capital letters come before small letters!</p>
				<p>Read? <%= f.check_box :see %></p><p>Submit? <%= f.check_box :submit %></p><p>Admin? <%= f.check_box :admin %></p></td><td>
				<% if @permission.principal %>
					Applies to <%= @permission.principal.name %>
				<% else %>
					Applies to:
				<% end %>
				<p><%= f.text_field :user_name, :placeholder => "User", :"data-provide" => 'typeahead', :'data-items' => @all_users.count, :"data-source" => @all_users.to_s %><br/>OR<br/><%= f.text_field :group_name, :placeholder => "Group", :"data-provide" => 'typeahead', :'data-items' => @all_groups.count, :"data-source" => @all_groups.to_s %></p>
				
			</td>
		</tr>
	</table>
	<%= f.submit :class => "btn"  %>
<% end %>
