<%- model_class = @building.class -%>

<% content_for :rooms do %>
	<h3>Click on your room in the list below</h3>
	<%= render :partial => 'roomtable' %>
<% end %>

<% content_for :tickets do %>
	<% @room = @building %>
	<%= render :partial => 'rooms/tickettable' %>
<% end %>

<% content_for :consumables do %>
	<table class="table datatableable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Count</th>
				<th>In...</th>
			</tr>
		</thead>

		<tbody>
			<% @building.consumable_counts.each_pair do |c, z| %>
				<tr>
					<td><%= c.name %></td>
					<td><%= z %></td>
					<td><%= pills_for c.rooms.where(:building_id => @building.id) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<h1><%= @building.name %></h1>

<p>
	<span class="address"><%= @building.address %></span>
</p>

<p>
	<b>Default Consumable Storeroom:</b> <% if @building.storeroom %><%= link_to @building.storeroom.name, @building.storeroom %><% end %>
</p>


<% if current_user.admin? %>
	<% content_for :admin_tickets do %>
		<%
        q1 = @room.tickets.incomplete.where(:ticketqueue_id => current_user.administratable_queues.map{|q| q.id}).map{|t| t.id}
        q2 = @room.tickets.incomplete.where(:id => current_user.tickets.map{|t| t.id}).map{|t| t.id}
		%>
		<%= render :partial => 'tickets/tickettable', :locals => {:tickets => Ticket.where(:id => (q1 + q2))} %>
	<% end %>


	<%= tabify({:admin_tickets => "Open Tickets", :tickets => "All Open Tickets", :rooms => "Room List", :consumables => "Consumables"})  %>
<% else %>
	<%= tabify rooms: "Room List", tickets: "Open Tickets" %>
<% end %>

<% content_for :sidebar do %>
	<% if current_user.admin? %>

		<li><%= link_to "New Room", new_room_path(:building_id => @building.id) %>
			<li><%= link_to "Edit Building", edit_building_path(@building) %></li><% end %>
			<li><%= link_to "Add Shortcut", quick_shortcuts_path(:container_type => 'Building', :container_id => @building.id) %></li>

<% end %>
