<p id="notice"><%= notice %></p>

<p>
	<b>Consumable:</b>
	<%= @alert.consumable_id %>
</p>

<p>
	<b>User:</b>
	<%= @alert.user_id %>
</p>

<p>
	<b>Building:</b>
	<%= @alert.building_id %>
</p>

<p>
	<b>Message:</b>
	<%= @alert.message %>
</p>

<p>
	<b>Count:</b>
	<%= @alert.count %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
