<h1>Asset Types</h1>
<table class="table table-striped">
  <thead>
    <tr>
	    <th>Name</th>
	    <th>Count</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rtypes.each do |rtype| %>
      <tr>
	      <td><%= link_to rtype.name, rtype %></td>
	      <td><%= rtype.assets.length %></td>
        <td><%= rtype.notes %></td>
        <td>
          <%= link_to "Edit",
                      edit_rtype_path(rtype), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rtype_path,
            :class => 'btn btn-primary' %>
