<h1><%= @rtype.name %></h1>

<p>
<i><%= @rtype.notes %></i>
</p>

<% content_for :assets do %>
	<% @assets = @rtype.assets %>
	<%= render :partial => 'assets/assettable' %>
<% end %>	
<% content_for :tickets do %>
	<% @tickets = @rtype.tickets %>
	<%= render :partial => 'tickets/tickettable' %>
<% end %>	
<% content_for :models do %>
	<% @models = @rtype.models %>
	<%= render :partial => 'models/modeltable' %>
<% end %>

<%= tabify models: "Models", assets: "Assets", tickets: "All Tickets" %>

<% if current_user.admin? %>
	<% content_for :sidebar do %>
		<li><%= link_to "Edit Asset Type", edit_rtype_path(@rtype) %></li>
	<% end %>
<% end %>
