<%= form_tag assign_loans_path do %>
    <div class="field">
        <%= label_tag :use %><br />
        <%= text_field_tag :use, params[:use] %>
    </div>
    <div class="field">
        <%= label_tag :start_date %><br />
        <%= text_field_tag :start, params[:start] %>
    </div>
    <div class="field">
        <%= label_tag :end_date %><br />
        <%= text_field_tag :end, params[:end] %>
    </div>
    <div class="field">
        <%= label_tag :user %>
					<%= text_field_tag :username, '', :'data-provide' => "typeahead", :"data-items" => @all_users.count, :"data-source" => @all_users.to_s, :size => 10, :placeholder => "Loan asset to:", :autocomplete => 'off' %>
    </div>
    <div class="field">
        <%= label_tag :tag %>
        <%= text_field_tag :tag %>
    </div>

    <%= submit_tag "Go", :class => 'btn btn-large btn-primary' %>
<% end %>
<%= javascript_tag do %>
	$(document).ready(function() {
	$('#start').datepicker();
	$('#end').datepicker();
	});
<% end %>
