<h1>Asset #<%= @asset.tag %></h1>
<% content_for :info do %>

	<table class="table-condensed" width="100%" >
		<tr style="font-weight: bolder; color: #666;">
			<td>Building</td>
			<td>Room</td>
			<td>Model</td>
			<td>Manufacturer</td>
		</tr>
		<tr>
			<td><%= @asset.building ? link_to(@asset.building.name, @asset.building) : (@asset.super ? "Super Asset" : "UNDEFINED") %></td>
			<td><%= @asset.room ? link_to(@asset.room.name, @asset.room) : (@asset.super ? "Super Asset" : "UNDEFINED") %></td>
			<td><%= @asset.model ? link_to(@asset.model.name, @asset.model) : "UNDEFINED" %></td>
			<td><%= @asset.manufacturer ? link_to(@asset.manufacturer.name, @asset.manufacturer) : "UNKNOWN" %></td>
		</tr>
		<tr style="font-weight: bolder; color: #666; border-top: thin solid #aaa">
			<td>Type</td>
			<td>Name</td>
			<td>OS</td>
			<td>Serial</td>
		</tr>
		<tr>
			<td><%= @asset.rtype ? link_to(@asset.rtype.name, @asset.rtype) : "UNDEFINED" %></td>
			<td><%= @asset.name ? @asset.name : "No Name" %></td>
			<td><%= @asset.os %></td>
			<td><%= @asset.serial %></td>
		</tr>
		<tr style="font-weight: bolder; color: #666; border-top: thin solid #aaa">
            <td>Loaned To</td>
			<td>Vendor</td>
			<td>Purchase Date</td>
			<td>Cost</td>
		</tr>
		<tr>
            <td>
                <% if @asset.loaned? %>
                    <%= link_to @asset.loaned_to.name, @asset.loaned_to %> 
                <% else %>
                    Nobody
                <% end %>
            </td>
			<td><%= @asset.vendor ? link_to(@asset.vendor.name, @asset.vendor) : "UNKNOWN" %></td>
			<td><%= @asset.purchase %></td>
			<td>$<%= @asset.cost %></td>
		</tr>
	</table>
<% end %>
<% @room = @asset %>
<% content_for :open_tickets do %>
	<%= render :partial => 'rooms/tickettable' %>
<% end %>

<% content_for :closed_tickets do %>
	<%= render :partial => 'rooms/completetickets' %>
<% end %>

<% if current_user.ticketqueues.count > 0 || current_user.admin? %>
<% content_for :new_ticket do %>
	<% if @asset.super %>
		<p>This is a super asset, and tickets can't be directly submitted for it.</p>
	<% else %>
		<%= render :partial => 'tickets/form' %>
	<% end %>
<% end %>
<% end %>

<% if current_user.admin? %>
	<%= tabify open_tickets: 'Open Tickets', new_ticket: 'New Ticket', info: 'Asset Information', closed_tickets: 'Closed Tickets' %>
<% else %>
	<%= tabify new_ticket: 'New Ticket', info: 'Asset Information', open_tickets: 'Open Tickets', closed_tickets: 'Closed Tickets' %>
<% end %>

<% if current_user.admin? || current_user.support %>
	<% content_for :sidebar do %>
		<li><%= link_to "Move Asset", '/firefight/home/tools?t=move&tags='+@asset.tag %></li>
		<li><%= link_to "Edit Asset", edit_asset_path(@asset) %></li>
	<% end %>
<% end %>
