<%- model_class = @room.class -%>

<% content_for :consumables do %>
	<table class="table datatableable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Short</th>
				<th>Cost</th>
				<th>Count</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @room.inventories.each do |i| %>
				<tr>
					<td><%= link_to i.consumable.name, i.consumable %></td>
					<td><%= i.consumable.short %></td>
					<td><%= i.consumable.cost %></td>
					<td><span id="ctr<%= i.id %>"><%= i.count %></span></td>
					<td>
						<%= link_to "+", adj_inventory_path(i, :commit => "+"), :class => 'btn btn-mini btn-success', :remote => true %>
						<%= link_to "-", adj_inventory_path(i, :commit => "-"), :class => 'btn btn-mini btn-danger', :remote => true %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= form_tag Inventory.new do |f| %>
		<%= hidden_field_tag :room_id, @room.id %>
		Add <%= number_field_tag :count, 1, :class => 'input-mini' %> <%= select_tag :consumable_id, options_from_collection_for_select(Consumable.all, :id, :name) %>
		<%= submit_tag "OK", :class => 'btn btn-success' %>
	<% end %>
<% end %>

<% content_for :use do %>
	<% @options = Room.all.map{|r| "#{r.building.name} - #{r.name}"} %>
	<%= form_tag use_inventory_path do %>
		<%= hidden_field_tag :room_id, @room.id %>
		<p>Use <%= number_field_tag :count, 1, :class => 'input-mini' %> <%= select_tag :consumable_id, options_from_collection_for_select(Consumable.all,:id, :name) %> 
		from <%= text_field_tag :room_name, nil, :'data-provide' => "typeahead", :"data-items" => @options.count, :"data-source" => @options.to_s %> - <%= submit_tag "Go", :class => "btn btn-mini btn-primary" %></p>
	<% end %>

	<% if @room.uses.count > 0 && current_user.support %>
		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Used</th>
				<th>Time Between Uses</th>
			</tr>
			<% last = nil %>
			<% @room.uses.reverse.each do |use| %>
				<tr>
					<td><%= link_to use.consumable.name, use.consumable %> &times; <%= use.count %></td>
					<td><%= time_delta use.created_at %></td>
					<td><%= last ? distance_of_time_in_words(last, use.created_at) : "-"%></td>
				</tr>
				<% last = use.created_at %>
			<% end %>
		</table>
	<% end %>
<% end %>

<% content_for :assets do %>
	<%= render :partial => 'assettable'%>
<% end %>

<% content_for :open_tickets do %>
	<%= render :partial => 'tickettable'%>
<% end %>

<h1><%= @room.building.name %> - <%= @room.name %></h1>
<p>
<i><%= @room.notes || "" %></i>
</p>
<% if current_user.admin? %>
<p>
  <strong>Department:</strong><br>
  <%= @room.department ? link_to(@room.department.name, @room.department) : "Undefined" %>
</p>

<% end %>

<% if current_user.admin? %>
<p>
  <strong>Default Asset:</strong><br>
  <%= @room.default_asset ? link_to(@room.default_asset.tag, @room.default_asset) : "Undefined" %><br/>
  </p>
<% else %>
<%= link_to @room.default_asset do %>
	<h3><i><b>Click here to submit a ticket if you can't find the appropriate asset below</b></i></h3>
<% end %>
<% end %>


<% if current_user.admin? %>
	<%= tabify(open_tickets: "Open Tickets", assets: "Assets", consumables: "Consumable Inventory", use: "Use Consumables") %>
<% else %>
	<%= tabify(assets: "Assets", open_tickets: "Open Tickets", use: "Use Consumables") %>
<% end %>

<% content_for :sidebar do %>
	<% if current_user.admin? %>
	<li><%= link_to 'Edit Room', edit_room_path(@room) %></li>
	<li><%= link_to "Add Asset to Room", new_asset_path(:room_id => @room.id) %></li><% end %>
<li><%= link_to "Add Shortcut", quick_shortcuts_path(:container_type => 'Room', :container_id => @room.id) %></li>
<% end %>
