<%- model_class = @room.class -%>

<% content_for :assets do %>
	<%= render :partial => 'assettable'%>
<% end %>

<% content_for :open_tickets do %>
	<%= render :partial => 'tickettable'%>
<% end %>

<h1><%= @room.building.name %> - <%= @room.name %></h1>
<p>
<i><%= @room.notes || "" %></i>
</p>
<% if current_user.admin? %>
<p>
  <strong>Department:</strong><br>
  <%= @room.department ? link_to(@room.department.name, @room.department) : "Undefined" %>
</p>

<% end %>

<% if current_user.admin? %>
<p>
  <strong>Default Asset:</strong><br>
  <%= @room.default_asset ? link_to(@room.default_asset.tag, @room.default_asset) : "Undefined" %><br/>
  </p>
<% else %>
<%= link_to @room.default_asset do %>
	<h3><i><b>Click here to submit a ticket if you can't find the appropriate asset below</b></i></h3>
<% end %>
<% end %>


<% if current_user.admin? %>
	<%= tabify(open_tickets: "Open Tickets", assets: "Assets") %>
<% else %>
	<%= tabify(assets: "Assets", open_tickets: "Open Tickets") %>
<% end %>

<% if current_user.admin? %>
<% content_for :sidebar do %>
	<li><%= link_to 'Edit Room', edit_room_path(@room) %></li>
	<li><%= link_to "Add Asset to Room", new_asset_path(:room_id => @room.id) %></li><% end %>
	<li><%= link_to "Add Shortcut", quick_shortcuts_path(:container_type => 'Room', :container_id => @room.id) %>

<% end %>
