<% grand_total = 0 %>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order Count</th>
            <th>Name</th>
            <% Building.all.each do |b| %>
                <th><%= link_to b.short, b %></th>
            <% end %>
            <th>Total Count</th>
            <th>Target Count</th>
            <th>Unit Cost</th>
            <th>Line Cost</th>
        </tr>
    </thead>
    <tbody>
        <% @consumables.each do |c| %>
            <tr>
                <td><%= c.target - c.total_count %></td>
                <td><%= link_to "#{c.name} [#{c.short}]", c %></td>
                <% Building.all.each do |b| %>
                    <td><%= b.consumable_count c %></td>
                <% end %>
                <td><%= c.total_count %></td>
                <td><%= c.target %></td>
                <td><%= c.cost %></td>
                <td><%= t = (c.target - c.total_count) * c.cost %></td>
                <% grand_total += t %>
            </tr>
        <% end %>
    </tbody>
</table>

<p><b>Grand Total:</b><%= grand_total %></p>

<p><%= link_to "Back", consumables_path, :class => 'btn btn-inverse' %></p>
